<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="sudoku.css">
	</head>
	<body>
		<h1>SUDOKU</h1>
		<form method="POST" action="#">
			<section>
				<article>
					<input type="texto" value="1">
				</article>
				<article>
					<input type="texto" value="2">
				</article>
				<article>
					<input type="texto" value="3">
				</article>
			</section>
			<section>
				<article>
					<input type="texto" value="4">
				</article>
				<article>
					<input type="texto" value="5">
				</article>
				<article>
					<input type="texto" value="6">
				</article>
			</section>
			<section>
				<article>
					<input type="texto" value="7">
				</article>
				<article>
					<input type="texto" value="8">
				</article>
				<article>
					<input type="texto" value="9">
				</article>
			</section>
			<input type="submit" class="jugar" value="Jugar">
		</form>
	</body>
</html>
