body{
	margin: 0;
	padding: 0;
}
h1{
	margin-bottom: 30px;
	text-align: center;
	}
input{
	-webkit-appearance none;
}
.contenedor{
	margin: 0 auto;
	position: relative;
	width: 285px;
}
.num-horizontal,
.num-vertical{
	font-size: 11px;
	position: absolute;
}
.num-horizontal{
	overflow: hidden;
	right: 3px;
	top: -20px;
}
.num-horizontal span{
	display: block;
	float: left;
	text-align: center;
	width: 31px;
	}
.num-vertical{
	left: -35px;
	top: 3px;
	width: 35px;
}
.num-vertical span{
	display: block;
	height: 31px;
	line-height: 31px;
	text-align: center;
	width: 30px;
}
form{
	overflow:hidden;
}
.tabla{
	overflow:hidden;
}
.elemento{
	float: left;
}
article{
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	display: table-cell;
	height: 30px;
	vertical-align: middle;
	width: 30px;
}
article.lateral{
	border-right: 1px solid #000;
}
.abajo article{
	border-bottom: 1px solid #000;
	text-align: center;
}
article input{
    border: none;
	display: block;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	width: 25px;
}
input.jugar{
	clear: both;
	display: block;
	margin: 20px auto;
	width: 100px;
	}
.mensaje{
	clear: both;
	font-size: 12px;
	text-align: center;
}

